<h3>{{id}}</h3>

<p>{{link-to 'Edit' 'users.edit' this}} <button {{action 'destroyRecord' this}}>Destroy</button></p>

<ul>
  <li class='user-name'>Name: {{name}}</li>
  <li class='user-username'>Username: {{username}}</li>
  <li class='user-email'>Email: {{email}}</li>
</ul>
